---

import type { Post } from '../data/Posts'
import { categories } from '../data/categories';

const { groupedItems } = Astro.props as { groupedItems: Post[][] };
---

{groupedItems.map((posts) => {
  const [first, ...rest] = posts;
  return (
    <>
      <div class="mb-2">
        <a href={`/posts/${first.slug}`}>
          <div class="bg-black rounded-[var(--radius)] shadow-[var(--shadow)] overflow-hidden flex flex-col">
            <img src={`/images/${first.data.image}`} alt={first.data.image} class="w-full h-80 object-cover" />
            <div class="p-5 flex-1 flex flex-col">
              <div class="flex items-center gap-2 mb-2">
                {(() => {
                  const catObj = categories.find(cat => cat.name === first.data.category);
                  return catObj ? (
                    <span
                      class="px-2 py-0.5 rounded font-semibold text-xs"
                      style={`background:${catObj.color}; color:#222;`}
                      title={catObj.description}
                    >
                      {catObj.name}
                    </span>
                  ) : null;
                })()}
                <h2 class="text-lg font-bold text-white font-sans">{first.data.title}</h2>
              </div>
              <p class="text-white font-sans flex-1">{first.data.excerpt}</p>
            </div>
          </div>
        </a>
      </div>

      {rest.length > 0 && (
        <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mb-2">
          {rest.map((post) => (
            <a href={`/posts/${post.slug}`}>
              <div class="bg-black rounded-[var(--radius)] shadow-[var(--shadow)] overflow-hidden flex flex-col">
                <img src={`/images/${post.data.image}`} alt={post.data.image} class="w-full h-40 object-cover" />
                <div class="p-5 flex-1 flex flex-col">
                  <div class="flex items-center gap-2 mb-2">
                    {(() => {
                      const catObj = categories.find(cat => cat.name === post.data.category);
                      return catObj ? (
                        <span
                          class="px-2 py-0.5 rounded font-semibold text-xs"
                          style={`background:${catObj.color}; color:#222;`}
                          title={catObj.description}
                        >
                          {catObj.name}
                        </span>
                      ) : null;
                    })()}
                    <h2 class="text-lg font-bold text-white font-sans">{post.data.title}</h2>
                  </div>
                  <p class="text-white font-sans flex-1">{post.data.excerpt}</p>
                </div>
              </div>
            </a>
          ))}
        </div>
      )}
    </>
  );
})}